<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My webpage</title>
</head>
<body>
    <nav>
        <a href="/about/">About</a>
        <a href="/contact-us/">Contact Us</a>
        <a href="/store/">Store</a>
    </nav>

    <h1>Welcome To The CONTACT Page</h1>
    <p>Contentioneslibero splendide posse repudiare donec numquam tincidunt laoreet euripidis elaboraret.  Laboresvoluptaria vituperata usu novum magna fuisset egestas veri quem ponderum molestiae integer magnis graecis.  Auctorfinibus meliore mollis sem convallis instructior.  Latinequam nascetur usu recteque indoctum maecenas conubia venenatis.</p>

    <br>
    <br>
    <a href="https://google.com">Google Page</a>
</body>
</html>